.BackButton {
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 10px 40px;
  z-index: 2;

  &__inner {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 70px;
    font-size: 12px;
    text-transform: uppercase;
  }
}
